.card {
	display: inline-block;
	width: 18%;
	background-color: white;
	text-align: center;
	height: 500px;
    border: 5px solid black;
    border-radius: 5px;
    margin: 5px;
    box-sizing: border-box;
}
img {
	width: 100%;
	border-radius: 5px 5px 0 0;
	vertical-align: top;
}
body {
	background-color: rgb(174, 240, 196);
	text-align: center;
}
h2 {
	text-align: center;
}
.button {
	background-color: rgb(174, 240, 196);
	text-decoration: none;
    color: #524f4e;
    border-radius: 45px;
    display: inline-block;
    width: 40%;
	font-size: 14px;
	vertical-align: text-bottom;
}
.menuitem {
	margin: 30px;
	font-size: 25px;
	text-decoration: none;
	color: #800000;
	border: 1px solid black;
	padding: 10px;
	border-radius: 45px;
	box-shadow: 3px 5px 3px 1px;
}
.menu {
	padding: 10px;
}
h2 {
	margin-top: 100px;
	color: #4B0082;
	font-size: 30px;
}
.znakr {
	display: inline;
	vertical-align: super;
}
